
body {
    padding: 0;
    margin: 0;
}



header {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(to top,#e1e1e1, white);
    border: 1px solid #cfc7c7;
    color: #676666;
}


#container {
    
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;

}


#header-orange, #header-grey {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    font-size: 50px;
    font-family: URW Chancery L;             
}

#header-orange{
    color: #ff7700;
    padding-left: 130px;
}

li {
    position: absolute;
    padding: 40px 10px 20px 10px;
    height: 25px;
    
}

#header-menu li {
    bottom: 55px;
    position: relative;;
    display: flex;
    flex-wrap: wrap; 
    

}

.fa {
    position: absolute;
    font-size: 23px;
    color: rgb(70, 67, 67);
    max-width: 100%;
    display: block;
    top: 80px;
    left: 40px;
    

}

header nav {
    padding: 0 151px 0 130px;
    
}



header ul {
    
    display: flex;
    padding: 0 50px 0 100px; 
    border: #ff7700;
}


header a {
    padding:75px 20px 20px 20px;
    display: flex;
    color: rgb(70, 67, 67);
    border: 1px double #cfc7c7;
    border-top: none;
    border-bottom: none;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header a:hover{
    border-bottom: outset;
    color: #ff7700;

    background: linear-gradient(to top,#cfc7c7, white);
    
}

h2 {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 330px;;
    color: #676666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    
}



form .row {
    max-width: 100%;
    text-align: center;
    margin-bottom: 13px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    padding: 8px 0;
    border-radius: 5px; 
    left: 330px;
    font-size: 30px;
    height: 17px;
    box-shadow: 0 0 3px 0;
    position: relative;
    
}


button {
    margin: 0 0 121px 0px; 
    padding: 4px 20px;
    bottom: 50px;
    left: 685px;
    position: relative;
    background: #c1bfbf;
    cursor: alias;
    color: white;
    border-radius: 5px;
}

button.new {
    margin: 0 0 127px 65px;
    height: 38px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    background: #ff7700;
    color: #e1e1e1;
    border-radius: 5px;
}



#Premium {
    position: relative;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: -100px 90px 50px 90px;

    
}

#Premium > div {
width: 25%;
text-align: center;
position: relative;
left: 50px;



}

#premium > div img {
max-width: 100%;
text-align: center;
}

.Premium1, .Premium2, .Premium3, .Premium4 {
    padding: 0 0 25px 0;
}

.Premium5, .Premium6, .Premium7, .Premium8 {
    padding: 0 0 25px 0;
}

img {
    margin: 12px;
}

div.wrap {
    
    margin-left: 40px;
    display: flex;
    flex-wrap: wrap;
    color: #c1bfbf;
    border: 1px solid #e1e1e1;
    box-shadow: inset 0 -7px 9px 1px #c1bfbf;
    border-width: 1px;
    border-radius: 5px;
}


.social-buttons > .facebook .fa {
    display: flex;
    flex-wrap: wrap;
    margin-top: 190px;
    margin-left: 120px;
    color: #c1bfbf;
}

.social-buttons > .twitter .fa {
    margin-top: 190px;
    margin-left: 140px;
    color: #c1bfbf;
}

.social-buttons > .instagram .fa {

    margin-top: 190px;
    margin-left: 168px;
    color: #c1bfbf;
}

.social-buttons > .vk .fa {
margin-top: 190px;
margin-left: 194px;
color: #c1bfbf;
}

small {
    margin-left: 10px;
    

}

span {
    margin-right: 40px;
   
}

div#Premium {   
    margin-right: 130px;

}

div#Premium1 {
margin: auto;
background: linear-gradient(to top,#e1e1e1, white);

}

hr {
    padding-right: 30px;
    margin-left: 10px;
    color: #e1e1e1;
}

div.wrap > .fa {
     padding-bottom: 30px;
     position: static;
     color: #ff7700;
        }

    span {
    left: 10px;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;
        padding: 20px 0;
        margin-left: 686px;
        color: #676666;
    }

    footer > .fa {
        margin-top: 100%;
        margin-left: 62%;
        font-size: 15px;
        color: #c1bfbf;
    }

    @media(max-width: 800px) {
        header ul {
            padding: 0;
        }

        #header-orange, #header-grey {
            margin-left: 30px;
        }
        h2 {
            padding: 0 0 0 70px;
        }

        form .row {
            font-size: 22px;
            left: 90px;
            
        }

        button {
            margin: 0;
            bottom: 50px;
            left: 325px;
            
        }
        
        button.new {
            margin-left: 10px;
            
        }

        #Premium > div {
            width: 50%;
            
    }

    .Premium11, .Premium12 {
        padding-top: 20px;
    }

    
        

    footer > .fa {
        padding: 20px 0;
        margin-top: 2300px;
        margin-left: 200px;
    }